.forgot-pwd{
    padding: 80px;
}

.forgot-pwd p
{
    padding-bottom: 20px;
    color:#737377;
}

.forgot-pwd h1{
    margin: 20px 0 20px;
}

.forgot-pwd .input-group
{
    margin-bottom: 10px;
}

.forgot-pwd .form-control{
    border-radius:  0 :important;
}

.forgot-pwd .btn{
    border-radius: 0;
    width: 100%;
    font-size: 15px;
    background-color: #f08080;
    color: white;
}

.forgot-pwd .btn:hover
{
    background-color: #a85959 :important;
    color: #fff :important;
}